body {
    background-color: #2f8abb;
}

.container {
  display: grid;

  justify-content: center;
  align-items: center;
  grid-gap: 100px;
  padding: 10px;
}

.column.column--left {
  grid-row: 1;
}

img {
  max-width: 100%;
  height: auto;
}