{% extends 'bootstrap/base.html' %}
{% block head %}
<script data-ad-client="ca-pub-5865250802445869" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="row">


        <div class="col-4">
            <a class="navbar-brand" href="{{ url_for('home.homepage') }}">HOME</a>
        </div>

    </div>

    <span class="navbar-toggler-icon"></span>
</nav>

{% endblock %}

{% block title %}
Coloring Page
{% endblock %}
