{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link type="text/css" href="static/css/styles.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,900&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="jumbotron text-center">

        <div class="container">

          <h1 class="display-4">☕️ TitipBeli 💻</h1>
          <p style="color: chartreuse" class="lead">Submit Your URL from Amazon or Ebay.</p>
          <hr class="my-4">
          <p style="color: chartreuse">by : yogi ananta putra</p>
            <br>
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

        </div>



</div>

{% endblock %}









