{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link href="{{url_for('static', filename='css/show2.css')}}" rel="stylesheet" />
{% endblock %}

{% block content %}


<div class="container">
  <div class="row">

    <div class="col-md-5">
      <p>Product Name</p>
      <h1>{{ data_list[2] }}</h1>
      </br>
      <p>Price</p>
      <h2>{{ data_list[0] }}</h2>

      </br>


      <div class="buttons d-flex flex-row mt-5 gap-3">
        <a class="btn btn-warning" href="{{url_for('home.homepage')}}">Order</a>
        <a class="btn btn-danger" href="{{url_for('home.homepage')}}">Cancel</a>
      </div>

    </div>

    <div class="col-md-5  col-md-offset-2">
      <p>Picture</p>
      <img src="{{ data_list[1] }}" alt="Product Image" class="img-thumbnail">
    </div>

  </div>
</div>



{% endblock %}